{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register Buttons</title>
    <link rel="stylesheet" href={% static 'styles/buttons-style.css' %}>
</head>
<body style="background-image: url('static/images/warbackground.jpg')">
    <!-- Login and Register Buttons -->
    <nav>
        <ul>
            <li class="nav-item home"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item about"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item services"><a href="#" class="nav-link">Services</a></li>
            <li class="nav-item contact"><a href="#" class="nav-link">Contact</a></li>
            <li class="nav-item login"><a href="#" class="nav-link animated">Login</a></li>
            <li class="nav-item register"><a href="http://127.0.0.1:8000/register/" class="nav-link animated">Register</a></li>

        </ul>
    </nav>

</body>
</html>